<div *ngIf="currentBlog">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>{{currentBlog.title | uppercase}}</h3>
      <p *ngIf="currentBlog.tags.length != undefined && currentBlog.tags.length > 0">
        <span>{{currentBlog.tags.length > 1 ? "Tags : " : "Tag : " }}</span>
        <span *ngFor="let tag of currentBlog.tags ; let last = last">
          <span>{{ last ? tag : tag + ","  }}</span>
        </span>
      </p>
      <small>Posted by {{currentBlog.author}} on {{currentBlog.created | date}} </small>
      <hr>
      <p [innerHTML] = "currentBlog.bodyHtml"></p>
      <p>{{currentBlog.description}}</p>
      <hr>
      <p>Category : {{currentBlog.category}}</p>
      <p>Views : {{currentBlog.views}}</p>
      <hr>
    </div>
  </div>
  <div class="row text-center" style="margin-top : 20px;">
    <div class="col-md-4">
      <button class="btn btn-primary">Edit</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-danger">Delete</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary">Go Back</button>
    </div>
  </div>
</div>