<div class="row text-center">
  <h2>All Blogs</h2>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let blog of allBlogs">
    <div class="panel panel-default" style=" width : 90%; margin: 0 auto; margin-top : 20px; ">
      <div>
        <div class="panel-heading">
          <h2 class="panel-title">{{blog.title | uppercase}}</h2>
        </div>
        <div class="panel-body">
          <p>{{blog.description}}</p>
          <div class="text-center">
            <a [routerLink] = "['/blog',blog.blogId]" class="btn btn-primary text-center">Read More..</a>
          </div>
        </div>
        <div class="panel-footer">
          <p>created on : {{blog.created | date}}</p> 
          <small>-By {{blog.author}}</small>
        </div>
      </div>
    </div>
  </div>
</div>